
/* 修改ace默认样式 + 美化滚动条 */
.ace_print-margin {
    visibility: hidden!important;
}
.ace_scrollbar-h {
    height: 8px!important;
}
.code ::-webkit-scrollbar {
    width: 8px;
} 
.code ::-webkit-scrollbar-track {
        background-color:rgba(256,256,256,0.2);
} 
.code ::-webkit-scrollbar-thumb {
        background-color: rgba(256, 256, 256, 0.2);
        border-radius:5px; 
}
.code ::-webkit-scrollbar-button {
        background-color: rgba(0,0,0,0.4);
}
.code ::-webkit-scrollbar-corner {
        background-color: rgba(256,256,256,0.2);
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.ace_gutter-cell {
    padding-left: 10px!important;
}
/* 修改ace默认样式 */
#codediv, .codediv{
    position: relative;
    margin-bottom: 10px;
}
#codeTab, .codeTab, #sqlCodeTab{
    border: 1px solid #ccc;
    padding-bottom: 7px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
.code {
    height: 335px;
}
#editor1,#editor2,#editor3,#editor4,#editor5,#editor6 {
    margin: 0;
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}
div[id*='ace_editer_'],div[id*='ace_sql_'],[id*='editor'],#sqlEditor1{
    margin: 0;
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    /*font-family:sans-serif;*/
}
.code-check {
    min-height: 160px;
    /*font-size: 12px;*/
    background: #272822;
    -webkit-padding-start: 0;
    /*border: 1px solid #fff;*/
    border-top: none;
    position: relative;
}
.code-check-content{
    overflow-y: auto;
}
.code-check p {
    height: 28px;
    line-height: 28px;
    padding: 0 16px;   
    margin: 0;
}
.code-check p:hover {
    background: #141413;
}
.code-check-info .row-num {
    display: inline-block;
    width: 70px;
    text-align: left;
    padding-left: 20px;
}
.code-check-info .lang-tip {
    padding: 0 20px;
}
.code-check-info .tip {
    color: #3c96ff;
}
.code-check-info .error {
    color: #ffb400;
}
.code-check-info .bug {   
    color: #ff5656;
}
.code-check .level {
    display: inline-block;
    width: 50px;
    text-align: left;
}

/*全屏下 */
.ace-code-contain{
    width: 100%;
    /*height: 100%; 这个会引发单页面嵌入问题*/
    background: #fff;
}
.full-screen .code {
    z-index: 99999;
    position: fixed!important;
    left: 0;
    top: 0;
    width: 100%;
    height:70%;
}
.full-screen .code-check {
    border-top:1px solid rgba(256,256,256,0.2);
    z-index: 99999;
    position: fixed!important;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%!important; 
}
.full-screen .code-check .code-check-content{
    overflow-y: auto;
}
.no-check .code{
    z-index: 99999;
    position: fixed!important;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
}

.full .modal-dialog ,.full .modal-dialog {
    width: 100%!important;
    height: 100%;
    margin: 0;
    padding: 0;
}
